* {
    margin: 0;
    font-family: 'Work Sans';
}

/* Header Section Style */
.header-section {
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-container {
    text-align: right;
    width: 32%;
    margin-right: 230px;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.header-description {  
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 20px 25px;
    background-color: #F15B22;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

/* Mail Section Style */
main {
    width: 1140px;
    margin: 0 auto;
}
section {
    margin-top: 130px;
}
/* Failures Section Style */
.failures-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 85px;
}
.failures-content {
    width: 40%;
}

.section-title {  
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}
.section-description {
    margin-top: 25px;
    margin-bottom: 15px;
}
.section-description, .failures-list li {  
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.failures-list {
    padding: 0;
}

.failures-list li {
    display: flex;
    margin-bottom: 8px;
    list-style: none;
}

.failures-list img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

/* Plan Section Style */
.plan-section {
    text-align: center;
}

.plan-section .section-title {
    margin-bottom: 50px;
}

.plan-item-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan-item-title {  
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
}

.plan-item-description {    
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}